@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #2563eb;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .w-65 {
    width: 16rem; /* 256px */
  }

  .ml-65 {
    margin-left: 16rem; /* 256px */
  }
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
